apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: fileintegrities.file-integrity.openshift.io
spec:
  group: file-integrity.openshift.io
  names:
    kind: FileIntegrity
    listKind: FileIntegrityList
    plural: fileintegrities
    singular: fileintegrity
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: FileIntegrity is the Schema for the fileintegrities API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: FileIntegritySpec defines the desired state of FileIntegrity
          properties:
            config:
              description: FileIntegrityConfig defines the name, namespace, and data
                key for an AIDE config to use for integrity checking.
              properties:
                key:
                  type: string
                name:
                  type: string
                namespace:
                  type: string
              type: object
            nodeSelector:
              additionalProperties:
                type: string
              type: object
          required:
          - config
          type: object
        status:
          description: FileIntegrityStatus defines the observed state of FileIntegrity
          properties:
            phase:
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
